.flex-container {
    display: flex;
    justify-content: center;
    border-style: groove;
    border-width: 5px;
    padding: 5%;
    margin: 10%;
}

body {
    text-align: center;
    background-color: rgba(14, 14, 85, 0.993);
    color: whitesmoke;
    margin: 10%;
}
footer {
    text-align: center;
}