.flex-container {
  display: flex;
  justify-content: center;
  border-style: groove;
  border-width: 5px;
  padding: 5%;
  margin: 10%;
}

body {
  text-align: center;
  background-color: rgba(14, 14, 85, 0.993);
  color: whitesmoke;
  margin: 10%;
}

#header {
  font-family: 'Open Sans', sans-serif;
  color: whitesmoke;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 50px;
  font-weight: 800;
  letter-spacing: -3px;
  line-height: 1;
  text-shadow: #EDEDED 3px 2px 0;
  position: relative;
}  
.logo {
    color: rgb(122, 115, 115);
}
.gradient {
  background-image:
    radial-gradient(
      circle closest-side,
      rgba(47, 47, 105, 0.993),
      #8d8fb6
    );
}
footer {
  text-align: center;
}